$darkBackground: #000000;
$appBarBackground: #000084;
$activeColor: #000084;
$appBackgroundDark: #808080;
$appBackgroundLight: #f5f5f5;
$itemsBackground: #C0C0C0;
$thingsGoneBad: #ff0000;

$fontDark: #000000;
$fontLight: #FFFFFF;
